<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Car Serving a Auto Mobile Category Category Bootstrap Responsive Template | Contact :: W3layouts</title>
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="stylesheets/style-starter.css">
  <!-- Template CSS -->
</head>

<body>
  <!--header-->

  <!--/header-->
  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container py-lg-5 py-3">
        <h2 class="title">Accept Auto Bro</h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="#url">Home</a></li>
          <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span>Accept</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
  <section class="w3l-contact-11">
    <div class="form-41-mian py-5">
      <div class="container py-lg-4">
        <div class="row align-form-map">
          <div class="col-lg-6 form-inner-cont">
            <div class="title-content text-left">
              <h3 class="hny-title mb-lg-5 mb-4">Auto Bro Details</h3>
            </div>{{#each vehicle}}
            <form action="/admin/add-user" method="post" enctype="multipart/form-data"
              class="signin-form">
              <div class="form-input">
                <input type="text" name="userid" value="{{this.user}}" hidden id="">
                <input type="text" name="status" value="Success" hidden id="">
                <input type="text" name="Name" required="" id="w3lName" value="{{this.Name}}" placeholder="Name" />
              </div>
              <div class="row con-two">
                <div class="col-lg-6 form-input">
                  <input type="text" name="Phone" id="w3lSender" value="{{this.Phone}}" placeholder="Phone"
                    required="" />
                </div>
                <div class="col-lg-6 form-input">
                  <input type="text" name="Address" placeholder="Address" value="{{this.Address}}" required=""
                    class="contact-input" />
                </div>
                <div class="col-lg-6 form-input">
                  <input type="text" name="Stand" id="w3lSender" placeholder="Stand" value="{{this.Stand}}"
                    required="" />
                </div>
                <div class="col-lg-6 form-input">
                  <input type="text" name="Type" id="w3lSender" placeholder="Type" value="{{this.Type}}" required="" />
                </div>
                <div class="col-lg-6 form-input">
                  <label for="">Auto Image</label>
                  <img src="/vimages/{{this._id}}.jpg" class="mt-1" id="VimgView" style="width: 100px; height: auto;"
                    alt="">

                  <input type="file" name="VImage" id="Vimage" class="mt-2" value="{{user.VImage}}" placeholder="Image"
                     onchange="vieImage(event)" />
                </div>
                <div class="col-lg-6 form-input">
                  <label for="">Driving License</label>
                  <img src="/limages/{{this._id}}.jpg" class="mt-1" id="DimgView"
                    style="width: 100px; height: auto;" alt="">

                  <input type="file" name="DImage" id="w3lSender" class="mt-2" value="{{user.DImage}}"
                    placeholder="Image"  onchange="dieImage(event)" />
                </div>
                <div class="col-lg-6 form-input">
                  <label for="">Driver Image</label>
                  <img src="/dimage/{{this._id}}.jpg" class="mt-1" id="DRimgView"
                    style="width: 100px; height: auto;" alt="">

                  <input type="file" name="RImage" id="w3lSender" class="mt-2" value="{{user.RImage}}"
                    placeholder="Image" onchange="drieImage(event)" />
                </div>
              </div>
              <div class="submit-button text-lg-right">
                <button type="submit" class="btn btn-style">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>{{/each}}
    </div>
  </section>
  <script>
     function drieImage(event) {
      document.getElementById('DRimgView').src = URL.createObjectURL(event.target.files[0])

    }
    function vieImage(event) {
      document.getElementById('VimgView').src = URL.createObjectURL(event.target.files[0])

    }
    function dieImage(event) {
      document.getElementById('DimgView').src = URL.createObjectURL(event.target.files[0])

    }
  </script>
  <!-- //contact-form -->
  <!-- footer-66 -->

  <!--//footer-66 -->
  <!-- Template JavaScript -->
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/theme-change.js"></script>
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="/javascripts/bootstrap.min.js"></script>

</body>

</html>